/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */
.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;

}

/*logo */



img {
    width: 4%;
    margin-top: -8px;
    margin-left: 14px;
}

.smallname {
    margin-top: -54px;
    width: 240px;
    margin-left: 123px;
}

.lines {
    border: 5px solid red;
    width: 55px;
    height: 55px;
    position: absolute;
    margin-top: -57px;
    margin-left: 51px;
}
.lines:nth-child(1) {
  border-color: #3958d0;
  animation: spin 4.8s ease-in-out 0.04s infinite;
  opacity: 0.006;
}
.lines:nth-child(2) {
  border-color: #2d46a6;
  animation: spin 4.8s ease-in-out 0.08s infinite;
  opacity: 0.012;
}
.lines:nth-child(3) {
  border-color: #22347c;
  animation: spin 4.8s ease-in-out 0.12s infinite;
  opacity: 0.018;
}
.lines:nth-child(4) {
  border-color: #393f44;
  animation: spin 4.8s ease-in-out 0.16s infinite;
  opacity: 0.024;
}
.lines:nth-child(5) {
  border-color: #0b1129;
  animation: spin 4.8s ease-in-out 0.2s infinite;
  opacity: 0.03;
}
.lines:nth-child(6) {
  border-color: #6079d9;
  animation: spin 4.8s ease-in-out 0.24s infinite;
  opacity: 0.036;
}
.lines:nth-child(7) {
  border-color: #bb0c00;
  animation: spin 4.8s ease-in-out 0.28s infinite;
  opacity: 0.042;
}
.lines:nth-child(8) {
  border-color: #889ae2;
  animation: spin 4.8s ease-in-out 0.32s infinite;
  opacity: 0.048;
}
.lines:nth-child(9) {
  border-color: #afbcec;
  animation: spin 4.8s ease-in-out 0.36s infinite;
  opacity: 0.054;
}
.lines:nth-child(10) {
  border-color: #d7ddf5;
  animation: spin 4.8s ease-in-out 0.4s infinite;
  opacity: 0.06;
}
.lines:nth-child(11) {
  border-color: #49bdd6;
  animation: spin 4.8s ease-in-out 0.44s infinite;
  opacity: 0.066;
}
.lines:nth-child(12) {
  border-color: #3a97ab;
  animation: spin 4.8s ease-in-out 0.48s infinite;
  opacity: 0.072;
}
.lines:nth-child(13) {
  border-color: #2b7180;
  animation: spin 4.8s ease-in-out 0.52s infinite;
  opacity: 0.078;
}
.lines:nth-child(14) {
  border-color: #1d4b55;
  animation: spin 4.8s ease-in-out 0.56s infinite;
  opacity: 0.084;
}
.lines:nth-child(15) {
  border-color: #6dcade;
  animation: spin 4.8s ease-in-out 0.6s infinite;
  opacity: 0.09;
}
.lines:nth-child(16) {
  border-color: #91d7e6;
  animation: spin 4.8s ease-in-out 0.64s infinite;
  opacity: 0.096;
}
.lines:nth-child(17) {
  border-color: #b6e4ee;
  animation: spin 4.8s ease-in-out 0.68s infinite;
  opacity: 0.102;
}
.lines:nth-child(18) {
  border-color: #5b8f92;
  animation: spin 4.8s ease-in-out 0.72s infinite;
  opacity: 0.108;
}
.lines:nth-child(19) {
  border-color: #476f72;
  animation: spin 4.8s ease-in-out 0.76s infinite;
  opacity: 0.114;
}
.lines:nth-child(20) {
  border-color: #75a8ac;
  animation: spin 4.8s ease-in-out 0.8s infinite;
  opacity: 0.12;
}
.lines:nth-child(21) {
  border-color: #93bbbe;
  animation: spin 4.8s ease-in-out 0.84s infinite;
  opacity: 0.126;
}
.lines:nth-child(22) {
  border-color: #b2cfd1;
  animation: spin 4.8s ease-in-out 0.88s infinite;
  opacity: 0.132;
}
.lines:nth-child(23) {
  border-color: #24b5bf;
  animation: spin 4.8s ease-in-out 0.92s infinite;
  opacity: 0.138;
}
.lines:nth-child(24) {
  border-color: #1c9098;
  animation: spin 4.8s ease-in-out 0.96s infinite;
  opacity: 0.144;
}
.lines:nth-child(25) {
  border-color: #156c72;
  animation: spin 4.8s ease-in-out 1s infinite;
  opacity: 0.15;
}
.lines:nth-child(26) {
  border-color: #39bcc5;
  animation: spin 4.8s ease-in-out 1.04s infinite;
  opacity: 0.156;
}
.lines:nth-child(27) {
  border-color: #65cbd2;
  animation: spin 4.8s ease-in-out 1.08s infinite;
  opacity: 0.162;
}
.lines:nth-child(28) {
  border-color: #91dadf;
  animation: spin 4.8s ease-in-out 1.12s infinite;
  opacity: 0.168;
}
.lines:nth-child(29) {
  border-color: #bde8eb;
  animation: spin 4.8s ease-in-out 1.16s infinite;
  opacity: 0.174;
}
.lines:nth-child(30) {
  border-color: #9edde1;
  animation: spin 4.8s ease-in-out 1.2s infinite;
  opacity: 0.18;
}
.lines:nth-child(31) {
  border-color: #7eb0b4;
  animation: spin 4.8s ease-in-out 1.24s infinite;
  opacity: 0.186;
}
.lines:nth-child(32) {
  border-color: #5e8487;
  animation: spin 4.8s ease-in-out 1.28s infinite;
  opacity: 0.192;
}
.lines:nth-child(33) {
  border-color: #3f585a;
  animation: spin 4.8s ease-in-out 1.32s infinite;
  opacity: 0.198;
}
.lines:nth-child(34) {
  border-color: #a7e0e4;
  animation: spin 4.8s ease-in-out 1.36s infinite;
  opacity: 0.204;
}
.lines:nth-child(35) {
  border-color: #bbe7ea;
  animation: spin 4.8s ease-in-out 1.4s infinite;
  opacity: 0.21;
}
.lines:nth-child(36) {
  border-color: #ceeef0;
  animation: spin 4.8s ease-in-out 1.44s infinite;
  opacity: 0.216;
}
.lines:nth-child(37) {
  border-color: #4f8cc3;
  animation: spin 4.8s ease-in-out 1.48s infinite;
  opacity: 0.222;
}
.lines:nth-child(38) {
  border-color: #3f709c;
  animation: spin 4.8s ease-in-out 1.52s infinite;
  opacity: 0.228;
}
.lines:nth-child(39) {
  border-color: #8593a0;
  animation: spin 4.8s ease-in-out 1.56s infinite;
  opacity: 0.234;
}
.lines:nth-child(40) {
  border-color: #5f6972;
  animation: spin 4.8s ease-in-out 1.6s infinite;
  opacity: 0.24;
}
@keyframes spin {
  33% {
    transform: scale(0.7) rotateZ(25deg);
  }
  66% {
    transform: scale(0.8) rotateZ(-25deg);
  }
  100% {
    transform: scale(0.9) rotateZ(180deg);
  }
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 21px;
}

.navbar-inverse {
    border-color: #080808;
    background: linear-gradient(to right, #e5eff3 , #337ab7);
}

/* resiter buttons */
.button {
    border-radius: 4px;
    background: linear-gradient(to bottom right, #f7fafb, #d3effb);
    border: none;
    color: #0b3546;
    text-align: center;
    font-size: 20px;
    padding: 4px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
  
}

.button.c {
    margin-top: -29px;
    margin-right: 336px;
}

.button.a {
    margin-right: 186px;
    margin-top: -29px;
    margin-bottom: -82px;
}

.button.b {
    margin-top: -29px;
    margin-left: -156px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}
.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}
.box.is-dragover {
  background-color: grey;
}
.box.is-uploading .box__input {
  visibility: none;
}
.box.is-uploading .box__uploading {
  display: block;
}
.box__button {
  display: none;
}
.no-js .box__button {
  display: block;
}